body {
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding-top: 5vh;
      font-family: 'Roboto', sans-serif;
}

.centered-input {
      text-align: center;
}

.centered-input input {
      width: auto;
      min-width: 100%;
      padding: 10px;
      font-size: 1.5em;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 10px;
      color: white;
      margin-bottom: 10px;
}

.pasted-text-container {
      display: flex;
      align-items: center;
      gap: 10px;
}

.pasted-text-container input {
      flex: 1;
}

.pasted-text-container button {
      padding: 10px;
      font-size: 1.5em;
      border: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
}

.word-container {
      margin-top: 20px;
      padding: 20px;
      word-wrap: break-word;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
}

.bottom-input {
      display: flex;
      align-items: center;
      position: fixed;
      bottom: 20px;
      flex-direction: column;
}

#selected-words {
      padding: 10px;
      font-size: 1.5em;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 10px;
      color: white;
      text-align: center;
      margin-top: 20px;
      width: 80%;
      height: auto;
      max-height: 150px;
      overflow-y: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
}

#add-pasted-text-button {
      color: greenyellow
}

#copy-button {
      color: yellow;
}

#clear-button {
      color: red
}

#copy-button,
#clear-button {
      padding: 10px;
      font-size: 1.5em;
      border: none;
      background-color: transparent;
      cursor: pointer;
}