body {
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding-top: 5vh;
      font-family: 'Roboto', sans-serif;
}

.centered-input {
      text-align: center;
}

.centered-input input {
      width: 100%;
      padding: 10px;
      font-size: 1.5em;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 10px;
      color: white;
}

.word-container {
      margin-top: 20px;
      padding: 20px;
      word-wrap: break-word;
}

.bottom-input {
      display: flex;
      align-items: center;
      position: fixed;
      bottom: 20px;
      flex-direction: column;
}

#selected-words {
      padding: 10px;
      font-size: 1.5em;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 10px;
      color: white;
      text-align: center;
      margin-top: 20px;
      width: 80%;
      height: auto;
      max-height: 150px;
      overflow-y: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
}

#copy-button {
      padding: 10px;
      font-size: 1.5em;
      border: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
      margin-top: 10px;
}